{% if menu %}
	<ul class="nav main-nav flex-column">
		{% for item in menu %}
			<li class="nav-item {{ item.classes | join(' ') }}">
				<a target="nav-link {{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "menu.twig" with {'menu': item.get_children} %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
