{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content gallery-content">
				{% if post.children %}
                        <div id="carousel" class="carousel slide carousel-fade gallery" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for child in post.children %}
                                <div class="carousel-item {{loop.index == 1 ? 'active' : ''}}">
                                    <img class="" src="{{child.guid}}">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-text" aria-hidden="true"><i class="fas fa-chevron-left fa-lg"></i></span>
                                <span class="sr-only"></span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-text" aria-hidden="true"><i class="fas fa-chevron-right  fa-lg"></i></span>
                                <span class="sr-only"></span>
                            </a>
                            <div class="counter">0/0</div>
                        </div>
                    {% endif %}
			</section>
		</article>
        {% if post.children %}
            <script>
                jQuery(document).ready(function($) {
                    var height = $("#carousel").height()
                    $("#carousel .carousel-item").each(function(item){
                        $("img:first",this).height(height);
                    });
                    var totalItems = $("#carousel .carousel-item").length;
                    var currentIndex = 1;
                    $("#carousel .counter").text(currentIndex + "/" + totalItems);
                    $("#carousel").show();
                    $('#carousel').carousel();
                    $('#carousel').on('slide.bs.carousel', function (e) {
                        var currentIndex = $(e.relatedTarget).index()+1;
                        $("#carousel .counter").text(currentIndex + "/" + totalItems);
                    })
                });
            </script>
        {% endif %}
	</div><!-- /content-wrapper -->
{% endblock %}